altair==5.4.1
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.4.0
attrs==24.2.0
auto-py-to-exe==2.44.1
blinker==1.8.2
bottle==0.12.25
bottle-websocket==0.2.9
cachelib==0.9.0
cachetools==5.5.0
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.3.0
cycler==0.12.1
dash==2.18.1
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash_daq==0.5.0
dash-html-components==2.0.0
dash_mantine_components==0.14.4
dash-table==5.0.0
distro==1.9.0
Eel==0.17.0
et-xmlfile==1.1.0
figma==0.0.1
Flask==3.0.3
Flask-Caching==2.3.0
fonttools==4.53.1
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
gitdb==4.0.11
GitPython==3.1.43
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.5
httpx==0.27.2
idna==3.8
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.5.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
kiwisolver==1.4.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
mdurl==0.1.2
narwhals==1.8.2
nest-asyncio==1.6.0
numpy==2.1.1
openai==1.43.0
openpyxl==3.1.5
packaging==24.1
pandas==2.2.2
pefile==2024.8.26
pillow==10.4.0
pip==24.2
plotly==5.24.1
protobuf==5.28.2
pyarrow==17.0.0
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
pydeck==0.9.1
pygame==2.6.0
Pygments==2.18.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32-ctypes==0.2.3
referencing==0.35.1
requests==2.32.3
retrying==1.3.4
rich==13.8.1
rpds-py==0.20.0
seaborn==0.13.2
setuptools==74.0.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
streamlit==1.39.0
tenacity==8.5.0
toml==0.10.2
tornado==6.4.1
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
watchdog==4.0.2
Werkzeug==3.0.4
whichcraft==0.6.1
zipp==3.20.2
zope.event==5.0
zope.interface==7.0.3